:root {
  --form-input-padding-vertical: 0.75em;
  --form-input-padding-horizontal: 1em; 
  --form-input-padding: var(--form-input-padding-vertical) var(--form-input-padding-horizontal);
}

.login-page {
  align-items: center;
  justify-content: center;
  gap: 2ch;
}

.login-form {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2ch;
  background: var(--primary-10);
  padding: var(--container-padding);
  border: 1px solid var(--background-100);
  border-radius: var(--container-radius);
}

.login-form label {
  cursor: pointer;
  color: var(--text);
}

.password-visibility-icon {
  padding: 0px var(--form-input-padding-horizontal);
  flex-shrink: 1;
  flex-grow: 1;
}


@media only screen and (max-width: 320px) {
  .login-form {
    width: 90%;
  }
}