.user-list-page {
  align-items: center;
}

.user-list-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--container-padding);
  padding: var(--container-padding);
  width: 50vw;
}

.users-list {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--container-padding);
  width: 100%;
}

@media only screen and (max-width: 720px) {
  .user-list-page-main {
    width: 75vw;
  }
}

@media only screen and (max-width: 550px) {
  .user-list-page-main {
    width: 100vw;
  }
}

@media only screen and (max-width: 380px) {
  :root {
    --user-list-item-image-height: 100px;
  }
}

@media only screen and (max-width: 360px) {
  .user-list-item-right {
    font-size: small;
  }
}

@media only screen and (min-width: 1600px) {
  .user-list-page-main {
    width: 60vw;
  }
}
