@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

:root {
  font-family: "Poppins", "Inria Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Arial, sans-serif, system-ui, Avenir, Helvetica;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --container-radius: 5px;
  --container-padding: 1.25rem;

  --hover-transition: ease-in-out 150ms;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 2px solid black; */
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

label {
  font-size: small;
}

label,
input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: var(--primary);
}

.error-message {
  font-size: small;
  align-self: center;
  width: 100%;
  color: var(--error);
}

.interactive-icon{
  cursor: pointer;
}

.button {
  --button-padding: 0.75em 1em;
  padding: var(--button-padding);
  border: none;
  border-radius: var(--container-radius);
  cursor: pointer;
}

.button.primary {
  background-color: var(--primary);
  color: var(--background);
}
